# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# For Ipython
.ipynb_checkpoints/

# C extensions
*.so

# For emacs
*~
\#*
.#*

# User database
app.db

# Define configuration variables that contain sensitive information
# like passwords and API keys
server/instance/
